<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Windows.CppWinRT" version="2.0.240405.15" targetFramework="native" />
  <package id="Microsoft.Windows.ImplementationLibrary" version="1.0.240803.1" targetFramework="native" />
  <package id="Microsoft.Windows.SDK.CPP" version="10.0.26100.1" targetFramework="native" />
  <package id="Microsoft.Windows.SDK.CPP.arm64" version="10.0.26100.1" targetFramework="native" />
  <package id="Microsoft.Windows.SDK.CPP.x64" version="10.0.26100.1" targetFramework="native" />
  <package id="robmikh.common" version="0.0.23-beta" targetFramework="native" />
</packages>